<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Sports Communities // {{ locals.title }}</title>

    <link
      rel="icon"
      type="image/png"
      href="/assets/images/outline_face_black_24dp.png"
    />
    <link rel="stylesheet" href="/assets/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module" src="/assets/scripts/main.js"></script>
  </head>
  <body>
    <header
      class="hero"
      style="background-image: url('/images/dmitry-i-v5GLMK38Zqk-unsplash.jpg');"
    >
      <h1 class="title">Online Sports Communities</h1>
      <h2 class="subtitle">
        A concept for supporting the user’s participation in team sports
      </h2>
      <p class="author">Kephas Nguyen</p>
    </header>

    <div class="content-wrap">
      {% include 'navigation.njk' %}
      <main>
      {{ content | safe }}
      </main>
    </div>
  </body>
</html>
