/* Intro
############################################################################ */
.article-intro {
  padding-top: var(--xxl);
  padding-bottom: var(--xxxl);
  margin-top: var(--xxl);
  color: var(--dark);
  font-size: var(--l);
  line-height: var(--lh-normal);

  &.headline::after {
    display: block;
    width: 50%;
    border-top: var(--dark) var(--border-width-m) solid;
    margin-top: var(--m);
    color: var(--dark);
    content: " ";
  }
}

/* Navigation
############################################################################ */

.main-navigation {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--color-accent);
}

.navbar {
  &[data-state=closed] {
    display: none;
  }

  &__item {
    display: block;
    padding: var(--s);
    font-weight: var(--fw-bold);
    transition: padding var(--tr-fast) ease-out;

    a {
      color: var(--darker);
      text-decoration: none;
    }

    &:hover {
      padding-left: var(--l);
    }
  }

  &__item + &__item {
    border-top: solid var(--border-width-s) var(--darken);
  }
}

.menu-trigger {
  align-self: flex-start;
  padding: var(--xs);
  border: none;
  margin: 0;
  background: transparent;
  transition: transform var(--tr-fast);

  &:hover {
    cursor: pointer;
  }

  .close,
  .open {
    overflow: hidden;
  }

  &[data-state=active] {
    transform: rotate(0deg);
    .close { width: 0; }
    .open { width: var(--xl); }
  }

  &[data-state=closed] {
    transform: rotate(90deg);
    .close { width: var(--xl); }
    .open { width: 0; }
  }
}

.subnavbar {
  display: none;
  margin-left: var(--s);

  &[data-state=active] {
    display: block;
  }

  &__item {
    margin-top: var(--xxs);
    margin-bottom: var(--xxs);
    transition: padding var(--tr-fast), border var(--tr-fast);

    &:hover {
      padding-left: var(--l);
    }
  }
}

@media only screen and (min-width: $vp-large) {
  .main-navigation {
    position: sticky;
    top: 0;
    padding-right: var(--xl);
    background-color: transparent;

    .navbar {
      display: block;
    }

    .menu-trigger {
      display: none;
    }
  }

  .subnavbar {
    &__item {
      &[data-state=active] {
        padding-left: var(--xxs);
        border-left: solid var(--border-width-m) var(--color-accent);
      }
    }
  }
}

/* Kommentare
############################################################################ */
#kommentar-hinterlassen {
  padding: var(--m);
  margin-top: var(--xxxxl);
  background-color: var(--lighter);
  font-size: var(--s);
}

#kommentar-hinterlassen form label {
  display: block;
}

#kommentar-hinterlassen form input[type="radio"] + label,
#kommentar-hinterlassen form input[type="checkbox"] + label {
  display: inline-block;
}

#kommentar-hinterlassen form input[type="text"],
#kommentar-hinterlassen form input[type="email"],
#kommentar-hinterlassen form textarea {
  display: block;
  width: 100%;
  padding: var(--xxs);
}

#kommentar-hinterlassen form textarea {
  height: var(--xxl);
}

#kommentar-hinterlassen .headline {
  padding-top: 0;
  font-size: var(--m);
}

#kommentar-hinterlassen fieldset {
  margin-bottom: var(--m);
}

#kommentar-hinterlassen legend {
  margin-top: var(--m);
  margin-bottom: var(--m);
  color: var(--dark);
}

/* Field
############################################################################ */

.field-with-label {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: var(--s);
}

.field {
  margin-bottom: var(--s);
}

.field p {
  margin-bottom: var(--xxs);
}

.footer-field {
  padding-top: var(--m);
  padding-bottom: var(--m);
}

/* Hero
############################################################################ */

.hero {
  display: flex;
  width: 100%;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(--l);
  padding-bottom: var(--xl);
  background-position: center;
  background-size: cover;
}

.hero > * {
  width: 100%;
  max-width: calc(var(--m) * 60);
  padding: var(--m);
}

.hero .title,
.hero .subtitle,
.hero .author {
  line-height: var(--lh-tight);
  text-shadow: var(--shadow-l);
}

.hero .title {
  padding-top: 0;
  padding-bottom: 0;
  color: var(--color-accent);
  font-size: var(--xxl);
}

.hero .subtitle {
  padding-top: 0;
  padding-bottom: 0;
  color: var(--lighter);
  font-size: var(--xl);
}

.hero .author {
  color: var(--light);
}

/* Responsive Media
############################################################################ */

.is-equal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-equal img {
  width: 100%;
  max-width: calc(var(--m) * 40);
}

@media only screen and (min-width: $vp-large) {
  .is-equal {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Content Wrap
############################################################################ */

@media only screen and (min-width: $vp-large) {
  .content-wrap {
    display: grid;
    align-items: start;
    grid-template-columns: calc(var(--m) * 20) 1fr;
  }
}

main {
  width: 100%;
  max-width: calc(var(--m) * 60);
  padding: var(--m);
}

/* Grid view
############################################################################ */

@media only screen and (min-width: $vp-large) {
  dl.grid-view {
    display: grid;
    margin-bottom: var(--xxl);
    gap: var(--m);
    grid-template-columns: calc(var(--m) * 15) 1fr;
  }

  dl.grid-view dt {
    padding-top: var(--xs);
    border-top: solid var(--color-accent) var(--border-width-s);
    color: var(--darkest);
    font-weight: var(--fw-medium);
  }

  dl.grid-view dd {
    margin-top: calc(var(--m) * -0.4);
  }
}
