@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  padding: 0;
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

@font-face {
  font-display: swap;
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf") format("truetype"), url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff2") format("woff2"); }

@font-face {
  font-display: swap;
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype"), url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff2") format("woff2"); }

@font-face {
  font-display: swap;
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf") format("truetype"), url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.woff2") format("woff2"); }

@font-face {
  font-display: swap;
  font-family: IBMPlexSans;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf") format("truetype"), url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff2") format("woff2"); }

@font-face {
  font-display: swap;
  font-family: MaterialIcons;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2") format("woff2"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.woff") format("woff"), url("../assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype"); }

:root {
  --bfs: 0.5rem;
  --xxs: calc(var(--bfs) * 1);
  --xs: calc(var(--bfs) * 1.25);
  --s: calc(var(--bfs) * 1.6);
  --m: calc(var(--bfs) * 2);
  --l: calc(var(--bfs) * 2.5);
  --xl: calc(var(--bfs) * 3.15);
  --xxl: calc(var(--bfs) * 4);
  --xxxl: calc(var(--bfs) * 5);
  --xxxxl: calc(var(--bfs) * 6.3);
  --light: #ccc;
  --lighter: #eee;
  --lightest: #fff;
  --dark: #888;
  --darker: #111;
  --darkest: #000;
  --darken: rgba(0, 0, 0, 0.2);
  --color-text: var(--darker);
  --color-headline: var(--dark);
  --color-accent: rgb(254, 196, 87);
  --ff-normal: 'IBMPlexSans', sans-serif;
  --ff-icons: 'MaterialIcons', serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --lh-normal: 140%;
  --lh-tight: 110%;
  --lh-loose: 150%;
  --tr-fast: 0.2s;
  --tr-slow: 0.6s;
  --shadow-l: 0 0 10px rgba(0, 0, 0, 0.5);
  --border-width-s: 1px;
  --border-width-m: 3px; }

/* Viewportgrößen für Media Queries
   Hier greifen Custom Properties nicht. */
.icon {
  display: inline-block;
  width: auto;
  height: auto;
  direction: ltr;
  font-family: var(--ff-icons);
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal; }
  .icon--s {
    font-size: var(--s);
    line-height: var(--s); }
  .icon--m {
    font-size: var(--m);
    line-height: var(--m); }
  .icon--l {
    font-size: var(--l);
    line-height: var(--l); }
  .icon--xl {
    font-size: var(--xl);
    line-height: var(--xl); }
  .icon.md-dark {
    color: var(--lightest); }
  .icon.md-light {
    color: var(--darkest); }
  .icon--inline {
    margin-right: var(--xs);
    font-size: var(--m); }
  .icon::before {
    content: attr(data-icon); }

* {
  /* TODO: Zeigen */
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightest);
  color: var(--color-text);
  font-family: var(--ff-normal);
  font-size: var(--m);
  font-weight: var(--fw-normal);
  hyphens: auto;
  line-height: var(--lh-normal); }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-headline);
  font-weight: bold;
  hyphens: none; }

h1 {
  padding-top: var(--xxxl);
  padding-bottom: var(--xxxl);
  color: var(--darkest);
  font-size: var(--xxxl);
  line-height: var(--lh-tight); }

h2 {
  padding-top: var(--xxl);
  margin-bottom: var(--xxl);
  font-size: var(--xxl);
  font-weight: var(--fw-medium); }

h3 {
  padding-top: var(--xl);
  margin-bottom: var(--xl);
  font-size: var(--xl);
  font-weight: normal; }

img {
  width: 100%; }

dt {
  margin-bottom: var(--xxs);
  color: var(--color-headline);
  font-weight: var(--fw-bold); }

p,
blockquote,
dd,
table {
  margin-bottom: var(--m); }

figure {
  margin-bottom: var(--xxl); }

figcaption {
  padding-top: var(--m);
  padding-bottom: var(--l);
  border-bottom: solid var(--border-width-s) var(--darken);
  color: var(--dark); }

@media only screen and (min-width: 1400px) {
  figcaption {
    border: none;
    margin-bottom: var(--xxxl); } }

table {
  width: 100%; }

tbody tr {
  border-top: solid 1px var(--light); }

td,
th {
  padding: var(--xs);
  border-bottom: solid var(--border-width-s) var(--light);
  text-align: left; }

thead td,
thead th {
  color: var(--color-headline);
  font-weight: var(--fw-bold); }

blockquote {
  padding-top: clamp(var(--xl), calc(5vw + var(--bfs)), var(--xxxl));
  padding-bottom: clamp(var(--xl), calc(5vw + var(--bfs)), var(--xxxl));
  border-top: solid 1px var(--light);
  border-bottom: solid 1px var(--light);
  margin-top: clamp(var(--xl), calc(5vw + var(--bfs)), 200px);
  margin-bottom: clamp(var(--xl), calc(5vw + var(--bfs)), 200px);
  font-family: var(--ff-serif); }

blockquote p {
  font-size: clamp(var(--m), calc(2vw + var(--bfs)), var(--xl));
  font-style: italic;
  line-height: var(--lh-normal); }

blockquote p::before,
blockquote p::after {
  display: inline-block;
  margin-right: var(--xxs);
  color: var(--color-accent);
  content: "«"; }

blockquote p::after {
  margin-left: var(--xxs);
  content: "»"; }

blockquote footer::before {
  display: inline-block;
  margin-right: var(--xxs);
  content: "–"; }

/* Intro
############################################################################ */
.article-intro {
  padding-top: var(--xxl);
  padding-bottom: var(--xxxl);
  margin-top: var(--xxl);
  color: var(--dark);
  font-size: var(--l);
  line-height: var(--lh-normal); }
  .article-intro.headline::after {
    display: block;
    width: 50%;
    border-top: var(--dark) var(--border-width-m) solid;
    margin-top: var(--m);
    color: var(--dark);
    content: " "; }

/* Navigation
############################################################################ */
.main-navigation {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--color-accent); }

.navbar[data-state=closed] {
  display: none; }

.navbar__item {
  display: block;
  padding: var(--s);
  font-weight: var(--fw-bold);
  transition: padding var(--tr-fast) ease-out; }
  .navbar__item a {
    color: var(--darker);
    text-decoration: none; }
  .navbar__item:hover {
    padding-left: var(--l); }

.navbar__item + .navbar__item {
  border-top: solid var(--border-width-s) var(--darken); }

.menu-trigger {
  align-self: flex-start;
  padding: var(--xs);
  border: none;
  margin: 0;
  background: transparent;
  transition: transform var(--tr-fast); }
  .menu-trigger:hover {
    cursor: pointer; }
  .menu-trigger .close,
  .menu-trigger .open {
    overflow: hidden; }
  .menu-trigger[data-state=active] {
    transform: rotate(0deg); }
    .menu-trigger[data-state=active] .close {
      width: 0; }
    .menu-trigger[data-state=active] .open {
      width: var(--xl); }
  .menu-trigger[data-state=closed] {
    transform: rotate(90deg); }
    .menu-trigger[data-state=closed] .close {
      width: var(--xl); }
    .menu-trigger[data-state=closed] .open {
      width: 0; }

.subnavbar {
  display: none;
  margin-left: var(--s); }
  .subnavbar[data-state=active] {
    display: block; }
  .subnavbar__item {
    margin-top: var(--xxs);
    margin-bottom: var(--xxs);
    transition: padding var(--tr-fast), border var(--tr-fast); }
    .subnavbar__item:hover {
      padding-left: var(--l); }

@media only screen and (min-width: 1400px) {
  .main-navigation {
    position: sticky;
    top: 0;
    padding-right: var(--xl);
    background-color: transparent; }
    .main-navigation .navbar {
      display: block; }
    .main-navigation .menu-trigger {
      display: none; }
  .subnavbar__item[data-state=active] {
    padding-left: var(--xxs);
    border-left: solid var(--border-width-m) var(--color-accent); } }

/* Kommentare
############################################################################ */
.comments {
  padding: var(--m);
  margin-top: var(--xxxxl);
  background-color: var(--lighter);
  font-size: var(--s); }
  .comments label {
    display: block; }
  .comments input[type="radio"] + label,
  .comments input[type="checkbox"] + label {
    display: inline-block; }
  .comments input[type="text"],
  .comments input[type="email"],
  .comments textarea {
    display: block;
    width: 100%;
    padding: var(--xxs); }
  .comments textarea {
    height: var(--xxl); }
  .comments .headline {
    padding-top: 0;
    font-size: var(--m); }
  .comments fieldset {
    margin-bottom: var(--m); }
  .comments legend {
    margin-top: var(--m);
    margin-bottom: var(--m);
    color: var(--dark); }

/* Field
############################################################################ */
.field-with-label {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: var(--s); }

.field {
  margin-bottom: var(--s); }

.field p {
  margin-bottom: var(--xxs); }

.footer-field {
  padding-top: var(--m);
  padding-bottom: var(--m); }

/* Hero
############################################################################ */
.hero {
  display: flex;
  width: 100%;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: var(--l);
  padding-bottom: var(--xl);
  background-position: center;
  background-size: cover; }

.hero > * {
  width: 100%;
  max-width: calc(var(--m) * 60);
  padding: var(--m); }

.hero .title,
.hero .subtitle,
.hero .author {
  line-height: var(--lh-tight);
  text-shadow: var(--shadow-l); }

.hero .title {
  padding-top: 0;
  padding-bottom: 0;
  color: var(--color-accent);
  font-size: var(--xxl); }

.hero .subtitle {
  padding-top: 0;
  padding-bottom: 0;
  color: var(--lighter);
  font-size: var(--xl); }

.hero .author {
  color: var(--light); }

/* Responsive Media
############################################################################ */
.is-equal {
  display: flex;
  flex-direction: column;
  align-items: center; }

.is-equal img {
  width: 100%;
  max-width: calc(var(--m) * 40); }

@media only screen and (min-width: 1400px) {
  .is-equal {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

/* Content Wrap
############################################################################ */
@media only screen and (min-width: 1400px) {
  .content-wrap {
    display: grid;
    align-items: start;
    grid-template-columns: calc(var(--m) * 20) 1fr; } }

main {
  width: 100%;
  max-width: calc(var(--m) * 60);
  padding: var(--m); }

/* Grid view
############################################################################ */
@media only screen and (min-width: 1400px) {
  dl.grid-view {
    display: grid;
    margin-bottom: var(--xxl);
    gap: var(--m);
    grid-template-columns: calc(var(--m) * 15) 1fr; }
  dl.grid-view dt {
    padding-top: var(--xs);
    border-top: solid var(--color-accent) var(--border-width-s);
    color: var(--darkest);
    font-weight: var(--fw-medium); }
  dl.grid-view dd {
    margin-top: calc(var(--m) * -0.4); } }

/* Comment List
############################################################################ */
.comment-list__item .comment {
  display: flex;
  flex-basis: 1;
  gap: var(--m); }
  .comment-list__item .comment figcaption {
    padding-top: 0;
    margin-bottom: 0; }
  .comment-list__item .comment-title {
    padding-top: 0;
    margin-bottom: 0;
    color: var(--darkest);
    font-size: var(--m); }
  .comment-list__item .comment img {
    width: 100%;
    max-width: 100px;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover; }

/*# sourceMappingURL=main.css.map */